ul.pagination {
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: center;
}

ul.pagination li {
    display: inline-block;
    margin: 2px;
}

ul.pagination li.more {
    font-size: 15px;
    margin: 0 10px;
}

ul.pagination li a {
    cursor: pointer;
    display: block;
    border: 1px solid #dddddd;
    color: #696969;
    padding: 4px 6px 2px 6px;
    font-size: 15px;
    background-color: white;
    min-width: 40px;
}

ul.pagination li a.active {
    color: white;
    background-color: #31a142;
    border-color: #31a142;
}

ul.pagination li a:hover {
    background-color: #ff6500;
    border-color: #ff6500;
    color: white;
}

#pagination {
    transition: opacity 0.5s ease-in-out;
}

#pagination.loading {
    opacity: 0.8;
}

#report-tbl th {
    text-align: left;
}

.pagination {
    display: block!important;
}