body,
body * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    position: relative;
    background: url('/img/img__main-bg.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

p {
    margin: 0;
}

input, select {
    padding: 5px 10px;
}

.header {
    width: 100%;
    height: 70px;
    font-size: 16px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    z-index: 100;
    display: block;
}

.header__left {
    float: left;
    padding: 15px 20px;
}

.header__logo-link {
    display: block;
    line-height: 0;
}

.header__logo-link .icon-logo-text {
    width: 216px;
    height: 40px;
}

.header .icon-logo-text {
    fill: #fff;
    height: 40px;
}

.header__right {
    float: right;
    padding: 20px;
}

.header__right a {
    font-size: 20px;
    color: white;
    vertical-align: middle;
    opacity: 0.8;
    transition: transform 0.25s ease-in-out;
}

.header-separator {
    display: inline-block;
    width: 1px;
    background-color: white;
    height: 30px;
    vertical-align: middle;
    margin: 0 15px;
    opacity: 0.3;
}


.content {
    margin-top: 3%;
}

#flights {
    text-align: center;
    background-color: #ffffff;
}

.content-name {
    color: #ffffff;
    text-transform: uppercase;
}

.header-form {
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}

.content-body {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

#user-form, #route-form {
    width: 500px;
    background-color: #ffffff;
    padding: 2%;
    border-radius: 1%;
    text-align: left;
    margin: auto;
}

#user-form label {
    font-weight: bolder;
}

.form-buttons {
    margin-top: 7%;
    margin-bottom: 5%;
}

.form-control {
    font-size: inherit;!important;
}

.filter-field {
    width: 15%;
    margin: 0 15px 25px 15px;
    padding: 0 10px;
}

.filter-flights {
    background-color: #ffffff;
    padding: 2rem 0;
}

.filter-submit {
    height: 28px;
    font-size: 14px;
    padding-top: 3px;
}

.table-flights {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
}

.table-flights tr {
    height: 30px;
}
.table-flights td {
    padding: 5px;
}